<header>
  <nav>
    <!-- MENÚ PRINCIPAL -->
    <div class="menu-container">
      <ul>
        <!-- BOTÓN MENÚ (hover + clic) -->
        <li class="PrimerLi" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
          <a (click)="toggleMenu()">{{ 'HEADER.MENU' | translate }}</a>

          <ul class="dropdown" [class.show]="menuVisible">
            <li>
              <a [routerLink]="['/chatbot']">{{ 'HEADER.MENU_CHATBOT' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/tema-visual']">{{ 'HEADER.MENU_THEME' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/servicios']">{{ 'HEADER.MENU_SERVICES' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/restaurantes']">{{ 'HEADER.MENU_RESTAURANTS' | translate }}</a>
            </li>
            <li>
              <a [routerLink]="['/video-testimonials']">{{
                'HEADER.MENU_TESTIMONIALS' | translate
              }}</a>
            </li>
          </ul>
        </li>

        <!-- INICIO  -->
        <li>
          <a routerLink="/">{{ 'HEADER.HOME' | translate }}</a>
        </li>
      </ul>
    </div>

    <!-- TÍTULO -->
    <div>
      <h1 id="lumaResort">{{ 'HEADER.TITLE' | translate }}</h1>
    </div>

    <!-- LADO DERECHO -->
    <div>
      <ul>
        <!-- IDIOMAS (AHORA FUNCIONA CON HOVER) -->
        <li
          class="PrimerLi"
          (mouseenter)="idiomasVisible = true"
          (mouseleave)="idiomasVisible = false"
        >
          <a>{{ 'HEADER.LANGUAGES' | translate }}</a>

          <ul class="dropdown" [class.show]="idiomasVisible">
            <li>
              <a (click)="changeLanguage('es')">{{ 'HEADER.LANG_ES' | translate }}</a>
            </li>
            <li>
              <a (click)="changeLanguage('en')">{{ 'HEADER.LANG_EN' | translate }}</a>
            </li>
            <li>
              <a (click)="changeLanguage('fr')">{{ 'HEADER.LANG_FR' | translate }}</a>
            </li>
            <li>
              <a (click)="changeLanguage('de')">{{ 'HEADER.LANG_DE' | translate }}</a>
            </li>
          </ul>
        </li>

        <!-- RESERVAS -->
        <li class="PrimerLi">
          <a [routerLink]="['/reservas']">{{ 'HEADER.BOOKING' | translate }}</a>
        </li>

        <!-- LOGIN -->
        <li *ngIf="!isLoggedIn">
          <a [routerLink]="['/login']">{{ 'HEADER.LOGIN' | translate }}</a>
        </li>

        <!-- PERFIL -->
        <ng-container *ngIf="isLoggedIn">
          <li (mouseenter)="perfilVisible = true" (mouseleave)="perfilVisible = false">
            <a>{{ 'HEADER.PROFILE' | translate }}</a>
          </li>

          <ul class="dropdown" [class.show]="perfilVisible">
            <li>
              <a [routerLink]="['/perfil', usuarioId]">
                {{ 'HEADER.VIEW_PROFILE' | translate }}
              </a>
            </li>
            <li>
              <a (click)="verReservas()">{{ 'HEADER.VIEW_BOOKINGS' | translate }}</a>
            </li>
          </ul>

          <li>
            <a (click)="logout()">{{ 'HEADER.LOGOUT' | translate }}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>
</header>
