#seccion_login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(70vh);
}
#contenedorForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: calc(39.2vh);
  border-radius: 20px;
  background-color: var(--section-primary);
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: var(--card-text);
  transition: background-color 0.3s ease;
  width: 35%;
}

#fondo {
  position: relative;
  width: 100%;
  height: calc(70vh);
  overflow: hidden;
}

#btn-login {
  text-align: center;
}
#olvidaste,
#registrate {
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.8rem;
  color: var(--card-text);
  transition: color var(--transition-speed) ease;
}
#olvidaste a {
  text-decoration: none;
  color: var(--card-text);
  transition: color var(--transition-speed) ease;
}
#olvidaste a:hover {
  transition: color var(--transition-speed) ease;
}
#enlaces {
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#fondoHeading {
  font-size: 3em;
  font-weight: bold;
  color: var(--text-only-white);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-speed) ease;
}

/* Crear cuenta ------------------------------*/

.DuoFormulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px;
  color: var(--card-text);
  transition: background-color 0.3s ease;
  width: 100%;
}
#contenedorFormCrearCuenta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: calc(40.2vh);
  border-radius: 20px;
  background-color: var(--section-primary);
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: var(--card-text);
  transition: background-color 0.3s ease;
  width: 72%;
}

/* Error*/
#errorLogin {
  color: red;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 20px;
}
